#sddm
{	
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 30;
	background: #5970B2;
}

#sddm li
{	margin: 0;
	padding: 0;
	list-style: none;
	float: left;
	font: bold 10px arial;
}

#sddm li a
{	display: block;
	margin: 0 1px 0 0;
	padding: 4px 10px;
	width: 61px;
	height: 27px;
	background: #5970B2;
	color: #FFF;
	text-align: center;
	text-decoration: none;
	border-right: 1px solid white;
}

#sddm li a:hover
{	background: #49A3FF}

#sddm div
{	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #EAEBD8;
	border: 1px solid #5970B2;
	filter: alpha(opacity=90);
	 -moz-opacity: 0.9;
	 -khtml-opacity: 0.9;
	 opacity: 0.9;
     z-index:  1000;
}

	#sddm div a
	{	position: relative;
		display: block;
		margin: 0;
		padding: 5px 10px;
		width: 100px;
		height: 20px;
		white-space: nowrap;
		text-align: left;
		text-decoration: none;
		background: #EAEBD8;
		color: #2875DE;
		font: 11px arial;
	}

	#sddm div a:hover
	{	
		background: #49A3FF;
		color: #FFF;
	}